<h1>Create a New Study</h1>
<div class = "msg">
  <% if flash[:msg] %>
    <%= flash[:msg] %>
  <% end %>
</div>

<% if @study.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@study.errors.count, "error") %> prohibited this study from being saved:</h2>

    <ul>
      <% @study.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @study do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %><br><br>

  <%= f.label :semester %>
  <%= f.text_field :semester %><br><br>

  <%= f.label :year %>
  <%= f.text_field :year %><br><br>

  <%= f.label :number %>
  <%= f.text_field :number %><br><br>

  <%= f.label :biblical_base %>
  <%= f.text_field :biblical_base %><br><br>

  <ol id="new-study-ol-list">
    <%= f.fields_for :subtitles do |sub| %>
      <li>
        <div class="sub-div" id="<%= sub.index %>">
          
          <%= sub.label 'Subtitle' %> 
          <%= sub.text_field :name %>
          
          <button class= "addpoint" onclick = "addPoint(<%= sub.index %>)">Add Point</button>
          <ul id="new-study-ul-list">
            <%= sub.fields_for :points do |point| %>
              <li>
                <div class="point-div" id="<%= sub.index %>.<%= point.index %>">
                  <%= point.label 'Point' %>
                  <%= point.text_field :name %>
                </div><br>
                <%= point.fields_for :note do |note| %>
                  <div class="note-div" id="<%= sub.index %>.<%= point.index %>.<%= note.index %>">
                    <%= note.label 'Notes' %>
                    <%= note.text_area :details %>
                  </div><br>
                <% end %>
              </li>
            <% end %>
          </ul>
        <p>Delete subtitle: <%= sub.check_box :_destroy %></p><br><br>
        </div><br>
      </li>
    <% end %>
  </ol>
 
  <%= f.submit %>
<% end %>




