<h1>Create a New Study</h1>

<%= form_for @study do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %><br><br>

  <%= f.label :semester %>
  <%= f.text_field :semester %><br><br>

  <%= f.label :year %>
  <%= f.text_field :year %><br><br>

  <%= f.label :number %>
  <%= f.text_field :number %><br><br>

  <%= f.label :biblical_base %>
  <%= f.text_field :biblical_base %><br><br>

  <ol id="new-study-ol-list">
    <%= f.fields_for :subtitles do |sub| %>
      <li>
        <%= sub.label 'Subtitle' %>
        <%= sub.text_field :name %><br>

        <ul id="new-study-ul-list">
          <%= sub.fields_for :points do |point| %>
            <li>
              <%= point.label 'Point' %>
              <%= point.text_field :name %><br><br>

              <%= point.fields_for :notes do |note| %>
                <%= note.label 'Notes' %>
                <%= note.text_area :details %><br><br>
              <% end %>
            </li>
          <% end %>
        </ul>

      <br>Delete: <%= sub.check_box :_destroy %><br><br>
      </li>
    <% end %>
  </ol>
  <%= f.submit %>
<% end %>


