<h1>Create a New Study</h1>
<% if flash[:msg] %>
  <%= flash[:msg] %>
<% end %>

<%= form_for @study do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %><br><br>

  <%= f.label :semester %>
  <%= f.text_field :semester %><br><br>

  <%= f.label :year %>
  <%= f.text_field :year %><br><br>

  <%= f.label :number %>
  <%= f.text_field :number %><br><br>

  <%= f.label :biblical_base %>
  <%= f.text_field :biblical_base %><br><br>

  <ol id="new-study-ol-list">
    <%= f.fields_for :subtitles do |sub| %>
      <li>
        <div class="sub-div" id="<%= sub.index %>">
          <%= sub.label 'Subtitle' %> 
          <%= sub.text_field :name %>
        <ul id="new-study-ul-list">
          <%= sub.fields_for :points do |point| %>
            <li>
              <div class="point-div" id="<%= sub.index %>.<%= point.index %>">
                <%= point.label 'Point' %>
                <%= point.text_field :name %>
              </div><br>
              <%= point.fields_for :notes do |note| %>
                <div class="note-div" id="<%= sub.index %>.<%= point.index %>.<%= note.index %>">
                  <%= note.label 'Notes' %>
                  <%= note.text_area :details %>
                </div><br>
              <% end %>
            </li>
          <% end %>
        </ul>
      <br>Delete: <%= sub.check_box :_destroy %><br><br>
      </div><br>
      </li>
    <% end %>
  </ol>
 
  <%= f.submit %>
<% end %>



<button onclick = "addPoint(0)">Add Point</button>
