<section class="view" id="show-view">

  <div class="strip" id="title">
    <h1><%= @study.title %></h1>
  </div>

  <div class="major-box" id="outline-box">
    <ol class="subtitles-list">
      <% @study.outline[:subtitles].each do |subtitle, points_array| %>
        <li>
          <h3><%= subtitle %></h3>
        </li>
        <div class= "minor-box" id="point-box">
          <ol class="points-list">
            <% points_array.each do |point_hash| %>
              <% point_hash.each do |point, notes| %>
                <li>
                  <button onclick="activateBox(<%= @study.point_id(subtitle, point) %>)">
                    <%= point  %>
                  </button>
                </li> 
                <div class="notes-box" id="<%= @study.point_id(subtitle, point) %>"
                  <h1><%= notes  %></h1>
                </div>
              <% end %>  
            <% end %>
          </ol>
        </div>
      <% end %>
    </ol>
  </div>
            

<%= link_to 'Delete Study', @study, method: :delete, data: { confirm: 'Are you sure?' } %>
</section>