<section class="view" id="show-view">

  <div class="strip" id="title">
    <h1><%= @study.title %></h1>
  </div>

  <div class="major-box" id="outline-box">
    <ol class="subtitles-list">
    
      <% @study.subtitles.each do |subtitle| %>
        <li>
          <h3><%= subtitle %></h3>
        </li>
        <div class= "minor-box" id="point-box">
          <ol class="points-list">
            <% subtitle.points.each do |point| %>
              <li>
                <button onclick="activatePoint(<%= subtitle.id %><%= point.id %>)">
                  <%= point  %>
                </button>
              </li> 
              <div class="notes-box" id="<%= @study.point_id(subtitle, point) %>"
                <h1><%= point.note  %></h1>
              </div>
            <% end %>
          </ol>
        </div>
      <% end %>
    </ol>
  </div>
            
<%= link_to 'Delete Study', @study, method: :delete, data: { confirm: 'Are you sure?' } %>
</section>