<!DOCTYPE html>
<html>
  <head>
    <title>EscuelaDominical</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
    </div>

    <div class ="main">
      <%= yield %>
      <%= javascript_pack_tag "hide" %>
    </div>

    <div class="footer">
    </div>

    <script>      
      function myFunction() {
        var x = document.getElementById("active");
        if (x.style.display === "none") {
          x.style.display = "block";
        } else {
          x.style.display = "none";
        }
      }

        function activateBox(box_id) {
          var x = document.getElementById(box_id);
          if (x.style.display === "none") {
            x.style.display = "block";
          } else {
            x.style.display = "none";
          }
        }

        function addPoint(subtitle_id) {
          binding.pry
          let subtitle = document.getElementById(subtitle_id)
          let points = subtitle.querySelectorAll('div.point-div');
          let last_point = points[points.length - 1];
          let point_id = parseInt(last_point.id.slice(-1));
          const max = 2;
          if ( point_id < 2) {
            let ul = document.querySelector('${subtitle} + ul');
            let li = document.createElement('li');
            let div = document.createElement('div');
            let input = document.createElement('input');
            input.setAttribute("type", "text");
            input.name = `study[subtitles_attributes][${subtitle_id}][points_attributes][${point_id}][name]`;
            input.id = `study_subtitles_attributes_${subtitle_id}_points_attributes_${point_id}_name`;
            ul.appendChild(li);
            li.appendChild(input);
            return input
          }
        }



    </script>

  </body>
</html>
