<!DOCTYPE html>
<html>
  <head>
    <title>EscuelaDominical</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
    </div>

    <div class ="main">
      <%= yield %>
      <%= javascript_pack_tag "hide" %>
    </div>

    <div class="footer">
    </div>

    <script>      
 
      function activatePoint(point_id) {
        let point = document.getElementById(point_id);
        if (point.style.display === "none") {
          point.style.display = "block";
        } else {
          point.style.display = "none";
        }
      };

      document.addEventListener("DOMContentLoaded", () => {
        document.querySelectorAll('.addpoint').forEach((button) => {
          button.addEventListener("click", (e) => {
            e.preventDefault();
          });
        });
      });

      function addPoint(subtitle_id) {
        let subtitle = document.getElementById(subtitle_id);
        let points = subtitle.querySelectorAll('div.point-div');
        let last_point = points[points.length - 1];
        let point_id = parseInt(last_point.id.slice(-1));
        const max = 2;
        if ( point_id < max ) {
          let ul = subtitle.querySelector(`ul`);
          let li = document.createElement('li');
          let div = document.createElement('div');
          let input = document.createElement('input');
          input.setAttribute("type", "text");
          input.name = `study[subtitles_attributes][${subtitle_id}][points_attributes][${point_id}][name]`;
          input.id = `study_subtitles_attributes_${subtitle_id}_points_attributes_${point_id}_name`;
          let label = document.createElement('label');
          label.innerHTML = "Point";
          ul.appendChild(li);
          div.setAttribute("class","point-div");
          div.id = `${subtitle.id}.${point_id + 1}`;
          li.appendChild(div);
          div.appendChild(label);
          div.appendChild(input);
        }
        else {
          let div = document.querySelector(`div.msg`);
          div.innerHTML = "Each subtitle can have a maximum of 3 points.";
        }
      }
        
    </script>

  </body>
</html>
